name: Generate Insta Carousel

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        python -m spacy download en_core_web_sm

    - name: Run pipeline
      env:
        NEWSAPI_KEY: ${{ secrets.NEWSAPI_KEY }}
        GNEWS_KEY: ${{ secrets.GNEWS_KEY }}
        MEDIASTACK_KEY: ${{ secrets.MEDIASTACK_KEY }}
      run: |
        python main.py

    - name: Upload images
      uses: actions/upload-artifact@v4
      with:
        name: carousel
        path: slide_*.png
